
@{
    ViewData["Title"] = "Gallery1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Suedia Urbană</h1>

<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.3b140c223f05d5e98f2329ae42d1b2c4?rik=NT4uPPPkONB%2b4w&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://i.pinimg.com/originals/75/e3/8f/75e38f540ac8f0f7c2cfe07142c3f46f.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://smartcitysweden.com/wp-content/uploads/2019/10/aline_lessner-western_harbour_malm%C3%B6-4244-e1570199788303.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.42645ae500b36b30ec10bfee45a5243e?rik=Snudg2HPXmyyaw&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3173%2f3005085349_6072207823_b.jpg&ehk=AIr1FxDLpzKzw3f3u%2fkQfGZPxKjlZ%2b%2f%2fiVKz1W5JIVU%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.7b2dcf88a83ec53c39916809c55090dd?rik=OIfKCzvP88t7uw&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3040%2f2769229790_cd0921482a_b.jpg&ehk=0nlCKHn%2bDLb5vLhtdUje4jmSACAPzbTk8ixv5xsKBYw%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://www.civic-project.eu/sites/default/files/content/header_images/srsp.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.82abb275c5ed9e03d3bb5b4f679083d8?rik=6i7zNEDufhwjXQ&riu=http%3a%2f%2ffarm2.static.flickr.com%2f1142%2f1094448489_8db823e720_b.jpg&ehk=kGfBZTA6gLvPi%2btSiPH7NxXulm5xpcqTXErsizxP9eU%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.0b1ef6eabc78303b01d08cebab60fe56?rik=%2ffwvjHANUBIYLA&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3344%2f3178920559_ce331904e0_o.jpg&ehk=UG5OMcEqkEguCAV70NONIR7AWZgtLsataKKmaynDa9M%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://cdnassets.hw.net/f1/fd/d2eb013e4f05a5cc1df30d7a856e/hammarby-sjostad.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.10bdd3670dbdbfe59f26c72ed5a7e05a?rik=0bUtt4rTuoP5aA&riu=http%3a%2f%2fwww.worldtravelimages.net%2fP1080416.JPG&ehk=JKHO3cjJ7woJEiD%2f6DWY71IxEk3R4xw5vqg1IVR%2b5Es%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.9b1e889cfbd62d8e1022bb386ed218b4?rik=WFvAVq2rcUiGtg&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3573%2f3785048908_7ea0f52fed_o.jpg&ehk=LRjoDuFr7Yto6FKiYexkNl1P%2fk7pI%2fefao5sblf%2f3EM%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.39db733c7b05dca51929bfff02b53993?rik=Pqgx2CdQ0heYEA&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3661%2f3576049234_1e0e4da882_o.jpg&ehk=RIePeJP0otDcgzQwod5qWsxz0lL2aQBrblphBZN3ENw%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.667cd42c1c4d2d7cf72b069b435415d2?rik=aw0Cw0tMzrIw2g&riu=http%3a%2f%2ffarm3.static.flickr.com%2f2299%2f2154447336_332cde17d8_b.jpg&ehk=7HvZ6pZnzcZhqyiJTHJUpZQHeI%2b2wVX1IffmUJU5OWo%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.d97a7d26ea2e69113ba329a402947db3?rik=TZaIq7QyM6%2f18w&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3527%2f3179853889_04d3fd0461_o.jpg&ehk=SjxY4mHM56eDYSr20UtrMFw7tkeIhG6dfxZWTR%2fJ%2bYU%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.b9719ebca56d92e53e0b62b25fe41373?rik=81RfwbDAd76cpQ&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3350%2f3178920423_9a678a850f_o.jpg&ehk=phxASFPq%2bifDpJTn5zRZhvc0mIfHzkk1L7NUMoFIGgg%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.9015be7a1473e5a7f5b68e3714cd25ed?rik=Q10Jrs5WwGbgiA&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3438%2f3179853549_ca44fa1a31_o.jpg&ehk=hhyPvWcFOFUKMzZjCFBkHpDsidD2qywjmMGTbn%2bieTE%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.e649dca11cb99d98e8577b2ec9f3ec84?rik=ZokDEJ1NlIW7Ew&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3089%2f2771656769_62dbd853d8_b.jpg&ehk=PLlMV4YD6gnSwFs0ci58UCfzwWcB0oBL%2b0z%2bme2cPQg%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.a134f809e756be0ba50b0aef2a9a2b6f?rik=ZY1JQTR4f7kFQQ&riu=http%3a%2f%2ffarm2.static.flickr.com%2f1413%2f1031845991_9a8fd6ff52_b.jpg&ehk=lFsN5OZ86Y4dz2lSGda8IgfKW56cXcAbZhO9M7LlOZw%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://www.mistraurbanfutures.org/sites/mistraurbanfutures.org/files/stockholm_djurgardsbron_carousel.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://thedesignhome.com/wp-content/uploads/2015/03/Green-urban-redevelopment-in-Stockholm3.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.914ad9236d86e2fd05cc2066fa1f8370?rik=Gm%2bKfJh8pspxUg&riu=http%3a%2f%2ffarm2.static.flickr.com%2f1038%2f1222553422_7a75db5123_o.jpg&ehk=F4b5lLpQ%2bX%2fgdBiM49a4IiP7GaDeINWM4dFqAsnOmEY%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.e84fcd42ea03a430f3abbf7c7791c933?rik=tc8Jhp5wzkRBGg&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3371%2f3179853791_e4bdd65bbd_o.jpg&ehk=uhS8VcOCDGVOzAa6%2bKBBLHi329NbbFmUF%2btffVs0e3w%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.44373b03adafb7184903fddeee5cbd3c?rik=wufcxdmZHG7G5Q&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3503%2f3967569627_53b7af520b_b.jpg&ehk=zn5mPqRKA%2bW5e50CB9t5JdkU3LzjuS8w2APlaZh129c%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.4629357745ef1ae871ebaefa84d2735e?rik=N7N7odbQaH2Rrg&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3245%2f3109701487_b8bfc8ecab_o.jpg&ehk=ZQGb0RQ%2fmE12WOIxnpj3iRT5pC4uMviVy%2bOSgDdv3fw%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.22d363e305fddcba535b41fb83aac196?rik=2KOG49N%2fqU3m1g&riu=http%3a%2f%2ffarm4.static.flickr.com%2f3086%2f3165100270_3a7c8dc43f_o.jpg&ehk=7%2bBBxivwoWYieuDZMYew3ExXXPTxeW7RV4SIs9ObKww%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.8bc0820b448fe3d225016eb0c46f7c32?rik=vfS7BdK9mVfuxg&riu=http%3a%2f%2ffarm2.static.flickr.com%2f1395%2f3166704454_59731d2bee_o.jpg&ehk=iOs4JjfrWI98qpVXSHyfVi59mJ4bAJrsBTo30VjSwKE%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.c45ca82d3b33330dc3862defc9399702?rik=1PsfHgxygfJabg&riu=http%3a%2f%2ffarm3.static.flickr.com%2f2280%2f1506683363_4ab69def0f_b.jpg&ehk=xM2xQTN8YTsxd6BKoKXtOcXcFYwjQkZ0viBr%2bRC1rZQ%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>

