
@{
    ViewData["Title"] = "Gallery3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Viața în Provincie</h1>

<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.d9e8ca7ab0d487eefd288c9fbb0719f3?rik=sUKNq%2fXDPj%2bYOg&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/rural-swedish-farm-sophie-mcaulay.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://www.nordicvisitor.com/images/sweden/swedish-countryside.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://d3dqioy2sca31t.cloudfront.net/Projects/cms/production/000/023/065/large/5ff88763132c3697fd8f6959a54b593a/sweden-glass-country-workshop-110917-sk.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://api.time.com/wp-content/uploads/2014/06/rural-sweden.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://live.staticflickr.com/8041/8059252096_56c14546b3_b.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://cdn8.dissolve.com/p/D1334_5_746/D1334_5_746_1200.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.1e1f0f1677313be2f53dff44f5087d5b?rik=JIXY75NzcT8X3Q&riu=http%3a%2f%2fimages.fineartamerica.com%2fimages-medium-large%2frural-landscape-sweden-bjorn-svensson.jpg&ehk=XgzOw%2f8GT3KrzKi2j9%2biz51Gq1tswtyMVH7Fj0AJfkM%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://c.wallhere.com/photos/07/18/summer_nature_rural_landscape_geotagged_sk_ne_nikon_europa-1051689.jpg!d" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://onestepoffthegrid.com.au/wp-content/uploads/2018/05/simris-sweden-1.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2016/06/03/467538-sweden-wiki.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.2196a8f7e1b8906da5fcf814b65f8158?rik=1xIq9X0Lcwx7oQ&riu=http%3a%2f%2ffarm4.staticflickr.com%2f3334%2f3501337666_55579b997b_z.jpg&ehk=ivNS54ciLf78XLTpqTVSYdfGmJYDvMKCS8hUSepmRLI%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://combination.nordicvisitor.com/images/1/countryside-sweden.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://thumbs.dreamstime.com/b/rural-sweden-11286214.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://thumbs.dreamstime.com/b/rural-sweden-11260757.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://www.bwallpaperhd.com/wp-content/uploads/2019/05/SwedenForest-1024x576.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://fthmb.tqn.com/aeFOGfh8fGn7gkoPHuUK_Cy2vk0=/960x0/filters:no_upscale()/rural-sweden-594ad6365f9b58f0fcc7b9f5.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://www.volkswagenag.com/presence/stories/2019/10/sweden-green-car-country/shutterstock_1360356911.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://live.staticflickr.com/8032/8027880733_5a45b87ce8_b.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.e9cdcb23c572de77645df9932d8de06d?rik=PjTBMLUDDYOo%2fg&riu=http%3a%2f%2fwww.sabinefep.com%2fwp-content%2fuploads%2f2012%2f05%2fswedish-countryside-1162.jpg&ehk=0cQDvi6NcIcSxeRr3XOqez%2bxqKuejY7NYR8pzvH%2bx58%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://www.expatfocus.com/stable/wp-content/uploads/2020/08/1435093024.1573.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://media.istockphoto.com/videos/swedish-rural-scene-video-id114415411?s=640x640" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.e9ac1d2d60f088200aae2dae6532c452?rik=Xb%2faRjaipHLf%2bQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-NTvSbrERd-0%2fUt0j6sX0JMI%2fAAAAAAAABQU%2fpDgJ08FeaVc%2fs1600%2fstockholm-wall%2b%2b(12).jpg&ehk=aqBCGnR2wlKkn8N7yTVoLllCDW3FhwLRpo2%2fsadIvak%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.342b24c3dec98c6ad6c9d5be483c40cc?rik=2TSiEKezTCxSjg&riu=http%3a%2f%2fassets.goodhousekeeping.co.uk%2fmain%2fembedded%2f39069%2fgallery-1495621711-sweden-countryside-wooden-hut.jpg&ehk=kOlA%2b2fEKK3PX%2fHGITLnJkcDe4UYmh%2f7m0Je5PAaruc%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://4.bp.blogspot.com/-vMnBUR-DJv8/UEkycN20t3I/AAAAAAAACFA/YPKLTo2zHRw/s1600/stone+house+exterior+-+simply+stated+living.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://i.pinimg.com/736x/f5/07/93/f50793eaa66376ff1f63f747468356e5.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://1.bp.blogspot.com/-OPg48alTnXg/ThgeCNRx9VI/AAAAAAAACrs/TN-9PT2_6Ao/s1600/P1010793.jpg" style="width:100%;" />
    </div>
</div>

