
@{
    ViewData["Title"] = "Suedia Urbană";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Suedia Urbană</h1>

<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.34cd85faec161a23ba0b818a00f43faf?rik=tLb2%2bI%2fpKw%2fB%2fw&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://seasonsyear.com/sites/default/files/images/nature/Sweden-nature-1.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://wallup.net/wp-content/uploads/2015/12/38522-Sweden-landscape-lake-Sarek-nature.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://img.theculturetrip.com/1440x807/smart/wp-content/uploads/2017/04/swedish-nature.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.54fd2d7569b8fd7dd3ebaf4eae4f4264?rik=Ix6Xyn1Bso0RfQ&riu=http%3a%2f%2fs1.1zoom.me%2fbig0%2f398%2fSweden_Forests_Rivers_Evening_Boras_Vastra_518274_1280x853.jpg&ehk=X7NLtLonZznxNQADCQgOykhszi1yjLPtGh%2f03mJ9i9k%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://i0.wp.com/www.thisishorror.co.uk/wp-content/uploads/2012/05/Swedish-nature.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://guide2travel.ca/wp-content/uploads/2021/05/Depositphotos_458298112_ds_facebook-1200px.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://2.bp.blogspot.com/-x3D47U5NL24/UJamUR6OSNI/AAAAAAAAGjw/26-6-W3GlgM/s640/Sk%C3%A6rmbillede+2012-06-13+kl.+20.38.58.png" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://images.freeimages.com/images/large-previews/e3e/sweden-nature-1358864.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.2e9fd23eaa08efaf124282b0e6b8cb83?rik=n8IZGFxPLGBZ2Q&pid=ImgRaw&r=0" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.c98c1de170ca2e278d530b8e0c76f9ba?rik=fksCAppYUj1gXg&riu=http%3a%2f%2f1.bp.blogspot.com%2f-OFhCLJCn498%2fVArjloqI71I%2fAAAAAAAAIGw%2fHrGQFvLSZOA%2fs1600%2fIMG_9345.JPG&ehk=z9JDLASzohuz%2blpeooR%2fkejKTNd0%2fY7Vd%2bHnTM3P3Pw%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://tripeze-public.s3.amazonaws.com/Eclipse%20Travel/images/image_holder/image_local/79343/web_large_Geirangerfjorden.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://hvitserk.norrona.com/en/assets/components/phpthumbof/cache/from-slogen-oye-hjorundfjorden-havard-myklebust-visitnorway.com.ada95294b26047b3e821dacec2901759.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/OIP.2QySq3xwy5ezTNCF2Fs0AQHaE9?pid=ImgDet&rs=1" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://authentic-scandinavia.com/tours/the-fjords-of-norway-and-stockholm/_/image/f20cec15-2513-49bd-9a9e-559cac526dbf:d49d22319447a3a48745d1f85a1c73ad02ce954e/block-1200-630/Geirangerfjorden_from_above_-_Photo_%C3%98yvind_Heen_-_Visitnorway.com_-_SMALL.jpg?quality=85" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/OIP.EjYAiHQrSO9Z8ArEMCgATAHaEK?pid=ImgDet&rs=1" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.a08971250ee7cd27a2915c641bbbbd76?rik=7TAI2DzEVM9ZiQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-VzMRQy0PC5Y%2fTymv8DPbwLI%2fAAAAAAAAIf8%2f5GedXj_goWo%2fs1600%2fbilde%2bnce%2bfjord.bmp&ehk=VZSZEOkJrukJAofRkpfbkTZxBoeROrT4BnBEJDrg5mw%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://i.dailymail.co.uk/i/pix/2015/11/21/16/2EAADEA700000578-3328214-image-a-1_1448123703891.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.6feb07e10210600ee56232699f67c597?rik=Zn45v%2fWIGZh%2bvQ&riu=http%3a%2f%2ftsss.ca%2fwp-content%2fuploads%2f2018%2f07%2fArctic-permafrost-e1531901886929-1024x550.jpg&ehk=9u1jKgAYI2jdt53PlnX7Qan0C98zvKEOPNGMVDwUm0s%3d&risl=&pid=ImgRaw&r=0g" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://strangesounds.org/wp-content/uploads/2019/09/arctic-permafrost-disappears.jpg" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://www.worldatlas.com/r/w1200/upload/55/ad/ce/1280px-permafrost-thaw-14413865677.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://news.cgtn.com/news/7959544e7945444f3155444f35596a4e3441444f31457a6333566d54/img/2a7a03cf12844d4fac0e091aa277a40b/2a7a03cf12844d4fac0e091aa277a40b.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/OIP.9zVEeZr-ypNawBCXcDlfdwHaD3?pid=ImgDet&rs=1" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://www.worldatlas.com/upload/fc/e1/f9/shutterstock-797669260.jpg" style="width:100%;" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <img src="https://cdn.vox-cdn.com/thumbor/_4I5WM-OIiU2_P0-xWLJMJ4wG3g=/0x0:4240x2832/1200x0/filters:focal(0x0:4240x2832):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/9107723/DSC00408.jpg" style="width:100%;" />
    </div>
    <div class="col-4">
        <img src="https://th.bing.com/th/id/R.94761d0e1ff21c5a3d8feabda10cbddc?rik=rp33FrDJbpmhCg&riu=http%3a%2f%2fnanoporetech.com%2fsites%2fdefault%2ffiles%2fs3%2fpublications-images%2fpermfrost-alaska.jpeg&ehk=WDp6fdnc8tNXR4kqBa5ff5o35orlC5BzGdoGp6JKH%2bI%3d&risl=&pid=ImgRaw&r=0" style="width:100%;" />
    </div> 
    <div class="col-4">
        <img src="https://www.rcinet.ca/eye-on-the-arctic/wp-content/uploads/sites/30/2018/10/svalbard-longyearbyen-permafrost.jpg" style="width:100%;" />
    </div>
</div>
