@{
    ViewData["Title"] = "Despre";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Proiect realizat de Manolache Mihai și Tănăsan Monica, elevi ai Colegiului Național Ștefan cel Mare Suceava, Municipiul Suceava, clasa 12C, profilul Matematică-Informatică, profesor coordonator Hatmanu Mihaela.</p>
    <p>Acest proiect reprezintă rezolvarea ultimei cerințe al Atestatului la Informatică, un site realizat folosind diferite tehnologii Frontend(Bootstrap 5, CSS) și Backend(HTML, Blazor, C#, Microsoft SQL Server) îmbinate folosind un Framework(ASP.NET parte din Microsoft dotnet Core 6.0).</p>
    <p>Proiectul dispune atât de o prezentare PowerPoint mai detaliată al subiectului abordat(Suedia, Capitala Scandinaviei), cât și de o documentație în format fizic realizată in MS Word care descrie mult mai in detaliu tehnologiile folosite, filozofia arhitecturii MVC(Model-View-Controller), gestionarea unei baze de date într-o aplicație web și limbajele de programare folosite.</p>
    <p></p>
</div>
